@font-face {
    font-family: 'AvenirLTStd-Light';
    src: url('../assets/avenirltstd-light.otf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cal {
    display: grid;
    height: 320px;
    width: 290px;
    margin: 10% auto;
    grid-template-columns: 25% 25% 25% 25%;
}



input[type=number] {
    font-family: 'AvenirLTStd-Light';
    border: solid;
	border-width: 1px;
	border-color: grey;
    font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 320;
    color: white;
	line-height: 26.4px;
    background: rgba(110,110,110,0.75);
    border-radius: 10px 10px 0 0;
       
}


input[type=button] {
    font-family: 'AvenirLTStd-Light';
    font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 320;
	line-height: 26.4px;
    background-color: rgb(224,224,224);
	border: solid;
	border-color: rgb(166,166,166);
	border-width: 1px 1px 0 0;
    z-index: 100;
    }

input[type=button]:active {
    background-color: #C0C0C0;
}

#but {
    grid-column: 2 / 5;
}

#input {
    display: grid;
    grid-column: 1 / 5;  
    position: relative;
    z-index: 100;
}

input[type=button].symbols {
    color: #fff;
    background-color: rgb(245,146,61);
}

input[type=button].symbols:active {
    background-color: rgb(252,116,0);
}

#blur {
    background: black;
    filter: blur(7px);
    position: absolute;
    margin: auto;
    z-index: 99;
    height: 64px;
    width: 290px;
    
}