.cal {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px;
        
}

.but {
    width: 150px;
}

.input {
    display: grid;
    width: 200px;
    height: 50px;
}