.calculator {
	display: grid;
	grid-column: 1 / span 1;
    grid-template-columns: 200px [col-start] 5%;
	}

.title {
	
}

.foo {
	grid-column: 2 / span 2;
    grid-template-columns: 200px [col-start] 5%;
}

.bar {
	grid-column: 2 / span 4;
	grid-row: 3 / span 2;
}

