@font-face {
    font-family: 'AvenirLTStd-Light';
    src: url('avenirltstd-light.otf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cal {
    display: grid;
    height: 320px;
    width: 290px;
    margin: 10% auto;
    grid-template-columns: 25% 25% 25% 25%;
}

input[type=number] {
    font-family: 'AvenirLTStd-Light';
    border: solid;
	border-width: 1px;
	border-color: grey;
    font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 320;
	line-height: 26.4px;
    background: rgba(192,192,192,0.75);
    //* filter: blur(5px); blur  https://jordanhollinger.com/2014/01/29/css-gaussian-blur-behind-a-translucent-box/ *//
       
}

input[type=button] {
    font-family: 'AvenirLTStd-Light';
    font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 320;
	line-height: 26.4px;
    background-color: #E6E6FA;
	border: solid;
	border-color: #C0C0C0;
	border-width: 1px;
}

input[type=button]:active {
    background-color: #C0C0C0;
}

.but {
    grid-column: 2 / 5;
}

.input {
    display: grid;
    grid-column: 1 / 5;
}

